<h1>EMPLOYEE LIST</h1>
<a href="{% url 'createEmployeeWithForm'%}">CREATE EMPLOYEE<a/>
<a href="{% url 'filterEmployee'%}">FILTER<a/>
<a href="{% url 'sortEmployee' 1 %}">Age Asc</a>
<a href="{% url 'sortEmployee' 2 %}">Age Desc</a>

{% comment  %} <select onchange="location=this.value;">
    <option value="">-- Select Order --</option>
    <option value="{% url 'sortEmployee' 1 %}">Age Ascending</option>
    <option value="{% url 'sortEmployee' 2 %}">Age Descending</option>
</select>  {% endcomment %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Actions</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees  %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.join_date}}</td>
            <td>{{emp.post}}</td>
            <td>
                <a href = "{% url 'deleteEmployee' emp.id %}">DELETE</a>
            </td>
            <td>
                <a href = "{% url 'updateEmployee' emp.id %}">UPDATE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>